---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const { title, pubDate, description, author, image, tags } = frontmatter;
---

<BaseLayout pageTitle={title}>
    <p>{pubDate.toString().slice(0, 10)}</p>
    <p><em>{description}</em></p>
    <p>Escrito por: {author}</p>
    <img src={image.url} alt={image.alt} width="300" />
    <slot />
    <div>
        {tags.map((tag) => <button>{tag}</button>)}
    </div>
</BaseLayout>
